Django
django-cors-headers
django-choices
django-filter
djangorestframework
djangorestframework-jwt
django-extensions
django-push-notifications
Pillow
ipython
ipdb
psycopg2-binary
pytest-django
model_mommy